<div class="cadreTableContainer">
    <!-- // content  -->
    <div class="content_cadre">
        <!-- cadre table  -->
        <div class="cadreTable">
            <!-- // name de mon table  -->
            <div class="name_table">
                <p>Name Produit</p>
            </div>
    
            <!-- // description  -->
            <div class="decription_table">
                <p>Plus de 00+ catégories</p>
            </div>
        </div>

        <!-- // recherche table -->
        <!-- <div class="recherche">
            <input type="search" placeholder="Recherche...">
        </div> -->
        <div class="savoir">
            <p><a href="/produits">Voir plus...</a></p>
        </div>

    </div>


    <!-- // table  -->
    <div class="table">
        <table>
            <!-- // thead -->
            <thead class="table_titre">
                <tr class="thead_tr">
                    <!-- <th class="table_id">#</th> -->
                    <th title="Catégorie">Catégorie</th>
                    
                    <th class="drop_title">Q G
                        <div class="drop_type tipe1">
                            <p class="para">Quantité global</p>
                        </div>
                    </th>

                    <th class="drop_title">Q V
                        <div class="drop_type tipe2">
                            <p class="para">Quantité vendu</p>
                        </div>
                    </th>
                    

                    <th class="drop_title">Q R
                        <div class="drop_type tipe3">
                            <p class="para2">Quantité restants</p>
                        </div>
                    </th>

                        <th class="drop_title">N S D
                            <div class="drop_type tipe4">
                                <p class="para2">Niveau de seuil défini</p>
                            </div>
                        </th>

                    <th title="Status" class="table_status">Status</th>
                </tr>
            </thead>
            <!-- // tbody -->
            <tbody class="table_corps">
                <!-- Table 1 -->
                <tr class="border_tr">
                    <!-- <td class="corps_id">01</td> -->
                    <td class="corps_categorie">Bazin</td>
                    <td class="corps_qg">0</td>
                    <td class="corps_qv">0</td>
                    <td class="corps_qr">0</td>
                    <td class="corps_seuil">0%</td>
                    <td class="corps_status">
                        <p>Etat</p>
                    </td>
                </tr>
                <!-- Table 2 -->
                <tr class="border_tr">
                    <!-- <td class="corps_id">02</td> -->
                    <td class="corps_categorie">Tussi</td>
                    <td class="corps_qg">0</td>
                    <td class="corps_qv">0</td>
                    <td class="corps_qr">0</td>
                    <td class="corps_seuil">0%</td>
                    <td class="corps_status">
                        <p>Etat</p>
                    </td>
                </tr>
                <!-- Table 3 -->
                <tr class="border_tr">
                    <!-- <td class="corps_id">03</td> -->
                    <td class="corps_categorie">Chémise</td>
                    <td class="corps_qg">0</td>
                    <td class="corps_qv">0</td>
                    <td class="corps_qr">0</td>
                    <td class="corps_seuil">0%</td>
                    <td class="corps_status">
                        <p class="trois">Faible</p>
                    </td>
                </tr>
                <!-- Table 4 -->
                <tr class="border_tr">
                    <!-- <td class="corps_id">04</td> -->
                    <td class="corps_categorie">Boxer</td>
                    <td class="corps_qg">0</td>
                    <td class="corps_qv">0</td>
                    <td class="corps_qr">0</td>
                    <td class="corps_seuil">0%</td>
                    <td class="corps_status">
                        <p class="quatre">Etat</p>
                    </td>
                </tr>
                <!-- Table 5 -->
                <tr class="border_tr">
                    <!-- <td class="corps_id">05</td> -->
                    <td class="corps_categorie">New C</td>
                    <td class="corps_qg">0</td>
                    <td class="corps_qv">0</td>
                    <td class="corps_qr">0</td>
                    <td class="corps_seuil">0%</td>
                    <td class="corps_status">
                        <p>Etat</p>
                    </td>
                </tr>
            </tbody>
        </table>
            
        <!-- // ligne  -->
        <div class="hr">
            <hr>
        </div>
    </div>
</div>