.container_revenu_benefice {
    margin-top: -15px;
    // color: #53074e;
}

#chart {
    top: -15px;
    position: relative;
}

.chart_donne {
    position: relative;
    top: 15px;
    left: 10px;
    background-color: #fff;
    box-shadow: 0 0px 5px 0 rgba(0, 8, 255, 0.057);
    height: 185px;
}