<div class="container" >

    <div class="content">
        <!-- Mon premierv content  -->
        <div class="content_blog_personnel">
            
            <!-- left pannel container -->
            <div class="left_pannel_container">
                <div class="pannel">
                    <div class="row_pannel">
                        <div class="blog_row">
                            <!-- Row left blog_personnel name -->
                            <div class="blog_personnel_content">
                                <div class="blog_personnel">

                                    <!-- row left blog name  -->
                                    <div class="row_blog_name">
                                    <!-- Blog de salutation  -->
                                    <p class="blog_saluer">Bonjour,</p>
                                    <!-- blog de name  -->
                                    <p class="blog_name">Diakaridia SY!</p>
                                    </div>

                                    <!-- ////////// right devise XOP -->
                                    <!-- <div class="row_right_devise">
                                    <select>
                                        <option value="">FCFA</option>
                                        <option value="">Euro</option>
                                        <option value="">Dollar</option>
                                    </select>
                                    </div> -->

                                </div>
                                <p class="blog_personnel_description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, molestias.
                                </p>
                            </div>

                            <!-- Row right revenu et bénéfice  -->
                            <div class="row_revenu_benefice">
                            <!-- .pour left  -->
                            <div class="row_revenu">
                                <p class="name_revenu">Revenu total</p>
                                <p class="price_revenu">0.00</p>
                            </div>
                            <!-- // pour right  -->
                            <div class="row_benefice">
                                <p class="name_revenu">Bénéfice total</p>
                                <p class="price_revenu">0.00</p>
                            </div>

                            </div>

                            <div class="revenu_img">
                            <img src="../../../../assets/img/img_revenu1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- right pannel container  -->
            <div class="right_pannel_container">
                <!-- // content_day -->
                <div class="content_day">
                    <p class="autoDate">{{ AutoDate }}</p>
                    <p>|</p> 
                    <p class="autoDateHeure">{{ AutoDateHeure }}</p>
                </div>

                <!-- cadre row_right_dashboard  -->
                <div class="row_right_dashboard">
                    
                    <!-- // cadre content row_dash_container_right -->
                    <div class="row_dash_container_right">
                    <!-- row 1 -->
                        <div class="row_dash_right_left">
                            <!-- 11111111111111 vente total-->
                            <div class="contenu_dash_right">
                                <!-- // personnalisation de mon dash  -->
                                <div class="information_dash_content">
                                    <!-- // name  -->
                                    <div class="dash_content_name">
                                        <p>Vente total</p>
                                        </div>
                                        <!-- // price  -->
                                        <p class="dash_content_price" style="color: green;">00</p>
                                        <!-- // autres  -->
                                        <div class="autres">
                                        <p class="un"><span class="autres_prix">00</span>Ce mois-ci</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 22222222222222 Les commandes effectuer -->
                            <div class="contenu_dash_right">
                            <!-- // personnalisation de mon dash  -->
                            <div class="information_dash_content">
                                <!-- // name  -->
                                <div class="dash_content_name">
                                <p>Commandes total</p>
                                </div>
                                <!-- // price  -->
                                <p class="dash_content_price" style="color: blue;">00 <span class="autres_span">effectué</span></p>
                                <!-- // autres  -->
                                <div class="autres">
                                <p class="deux"><span class="autres_prix">00</span>Ce mois-ci</p>
                                </div>
                            </div>
                            </div>
                            <!-- 33333333333333 tout les stocks -->
                            <div class="contenu_dash_right contenu_dash_right_fin">
                            <!-- // personnalisation de mon dash  -->
                            <div class="information_dash_content">
                                <!-- // name  -->
                                <div class="dash_content_name">
                                <p>Tout les stocks</p>
                                </div>
                                <!-- // price  -->
                                <p class="dash_content_price" style="color: orange;">00</p>
                                <!-- // autres  -->
                                <div class="autres">
                                <p class="trois"><span class="autres_prix">00</span>restants</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    <!-- row 2 -->
                    <div class="row_dash_right_right">
                        <!-- 11111111111111 Catégorie -->
                        <div class="contenu_dash_right contenu_dash_right_bas">
                        <!-- // personnalisation de mon dash  -->
                        <div class="information_dash_content">
                            <!-- // name  -->
                            <div class="dash_content_name">
                            <p>Catégorie disponible</p>
                            </div>
                            <!-- // price  -->
                            <p class="dash_content_price" style="color: purple;">00</p>
                            <!-- // autres  -->
                            <div class="autres">
                            <p class="quatre"><span class="autres_prix">00</span>À recevoir</p>
                            </div>
                        </div>
                        </div>
                        <!-- 2222222222222 Tout les retour effectuer-->
                        <div class="contenu_dash_right contenu_dash_right_bas">
                        <!-- // personnalisation de mon dash  -->
                        <div class="information_dash_content">
                            <!-- // name  -->
                            <div class="dash_content_name">
                            <p>Retours d'achats total</p>
                            </div>
                            <!-- // price  -->
                            <p class="dash_content_price" style="color: #ff0000;">00</p>
                            <!-- // autres  -->
                            <div class="autres">
                            <p class="cinq"><span class="autres_prix">00</span>Ce mois-ci</p>
                            </div>
                        </div>
                        </div>
                        <!-- 3333333333333 Les produit qui est echenger  -->
                        <div class="contenu_dash_right contenu_dash_right_bas right_fin">
                        <!-- // personnalisation de mon dash  -->
                        <div class="information_dash_content">
                            <!-- // name  -->
                            <div class="dash_content_name">
                            <p>échanges produits</p>
                            </div>
                            <!-- // price  -->
                            <p class="dash_content_price" style="color: chocolate;">00</p>
                            <!-- // autres  -->
                            <div class="autres">
                            <p class="six"><span class="autres_prix">00</span>Échanges aujourd'hui</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            
        </div>

        <!-- mon deuxième content pour le cadre de dashborad -->
        <div class="row_cadre_dash_profil">
            <!-- // left row cadre dash  -->
            <div class="left_row_dash_profil">

                <div class="container_left_row_dash_profil">
                    <!-- // en haut content_left_row_profil -->
                    <div class="content_left_row_profil">
                        <!-- // 11111 cadre dash  -->
                        <div class="row_dash_profil row_dash_profil_responsive">
                            <!-- // contenu cadre 1111 Vente aujourd'hui-->
                            <div class="contenu_cadre_dash">
                                <p class="name_dash">Vente aujourd'hui</p>
                                <!-- // div  -->
                                <div class="dash_icon_nmbre">
                                    <i class="icon feather icon-activity"></i>
                                    <p>00</p>
                                </div>
                                <!-- div  -->
                                <div class="info_dash">
                                    <p class="info_dash_article">Vente total d'hier</p>
                                    <p class="info_dash_price">00</p>
                                </div>

                            </div>
                        </div>
                        <!-- // 22222 cadre dash  Revenu d'aujourd'hui-->
                        <div class="row_dash_profil row_dash_profil_responsive">
                        <!-- // contenu cadre 2222 -->
                        <div class="contenu_cadre_dash">
                            <p class="name_dash">Revenu d'aujourd'hui</p>
                            <!-- // div  -->
                            <div class="dash_icon_nmbre dash_icon_nmbre_argent">
                            <i class="icon feather icon-bar-chart-2"></i>
                            <div class="argent_devise">
                                <p class="dash_price">0.00</p>
                                <span class="dash_desive">Fcfa.</span>
                            </div>
                            </div>
                            <!-- div  -->
                            <div class="info_dash">
                            <p class="info_dash_article">Revenu total d'hier</p>
                            <p class="info_dash_price">0.00</p>
                            </div>

                        </div>
                        </div>
                    </div>

                    <!-- // en bas content_left_row_profil -->
                    <div class="content_left_row_profil">
                        <!-- // 33333 cadre dash Commande en attente -->
                        <div class="row_dash_profil row_dash_profil_responsive">
                        <!-- // contenu cadre 3333 -->
                        <div class="contenu_cadre_dash">
                            <p class="name_dash">Commande en attente</p>
                            <!-- // div  -->
                            <div class="dash_icon_nmbre">
                            <i class="icon feather icon-shopping-cart"></i>
                            <p>00</p>
                            </div>
                            <!-- div  -->
                            <div class="info_dash">
                            <p class="info_dash_article">Effectuer aujourd'hui</p>
                            <p class="info_dash_price">00</p>
                            </div>

                        </div>
                        </div>
                        <!-- // 44444 cadre dash Produit retourner -->
                        <div class="row_dash_profil row_dash_profil_responsive">
                        <!-- // contenu cadre 44444 -->
                        <div class="contenu_cadre_dash">
                            <p class="name_dash">Produit retourner</p>
                            <!-- // div  -->
                            <div class="dash_icon_nmbre">
                            <i class="icon feather icon-repeat repeat"></i>
                            <p>00</p>
                            </div>
                            <!-- div  -->
                            <div class="info_dash">
                            <p class="info_dash_article">Retour total d'hier</p>
                            <p class="info_dash_price">00</p>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>

                <!-- // 555555 cadre dash  -->
                <div class="row_dash_profil row_dash_profil_membre">
                    <!-- // content cadre membre  -->
                    <div class="content_cadre_membre">
                        <div class="cadre_header">
                        <p>Membres</p>
                        </div>
                        <div class="cadre_content">
                        <!-- contenu 1111111111  -->
                        <div class="cadre_membre">
                            <!-- ///// Membre user  -->
                            <div class="membre_user">
                            <div class="membre_icon">
                                <!-- // icon et nombre -->
                                <div class="info_membre">
                                <i class="icon feather icon-users icon1"></i>
                                <p class="membre_nombre">00</p>
                                </div>
                                <div class="membre_name">
                                <p class="name">Utilisateurs</p>
                                <i class="icon feather icon-trending-up icon1"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- contenu 2222222222  -->
                        <div class="cadre_membre">
                            <!-- ///// Membre user  -->
                            <div class="membre_user">
                            <div class="membre_icon">
                                <!-- // icon et nombre -->
                                <div class="info_membre">
                                <i class="icon feather icon-user icon2"></i>
                                <p class="membre_nombre">00</p>
                                </div>
                                <div class="membre_name">
                                <p class="name">Contrôleurs</p>
                                <i class="icon feather icon-trending-up icon icon2"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- contenu 3333333333  -->
                        <div class="cadre_membre">
                            <!-- ///// Membre user  -->
                            <div class="membre_user">
                            <div class="membre_icon">
                                <!-- // icon et nombre -->
                                <div class="info_membre">
                                <i class="icon feather icon-user-check"></i>
                                <p class="membre_nombre">00</p>
                                </div>
                                <div class="membre_name">
                                <p class="name">Administrateurs</p>
                                <i class="icon feather icon-trending-up icon icon3"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                

            </div>

            <!-- // right row cadre dash  -->
            <div class="right_row_dash_profil">
                <!-- <h1>CHARTJS</h1> -->
                <!--The content below is only a placeholder and can be replaced.-->
                <div class="chart" >
                    <app-chart-revenu-benefice></app-chart-revenu-benefice>
                </div>
            </div>

        </div>

        <!-- content de chart de mon produit  -->
        <div class="line3CAC_container">
            <div class="line3CAC">
                <!-- <app-card cardTitle="Different line chart" [options]="false"> -->
                <apx-chart
                    [dataLabels]="line3CAC.dataLabels!"
                    [chart]="line3CAC.chart!"
                    [stroke]="line3CAC.stroke!"
                    [colors]="line3CAC.colors!"
                    [series]="line3CAC.series!"
                    [title]="line3CAC.title!"
                    [markers]="line3CAC.markers!"
                    [tooltip]="line3CAC.tooltip!"
                    [grid]="line3CAC.grid!"
                    [xaxis]="line3CAC.xaxis!"
                ></apx-chart>
                  <!-- </app-card> -->
            </div>
            <!-- // un nouveau chart  -->
            <div class="chart_retour">
                <app-chart-retour></app-chart-retour>
            </div>
        </div>

        <!-- <div class="enDirectVente">
            <div class="enDirect">
                <div class="cadreDirect">
                    
                </div>
                <div class="cadreDirect">
                    
                </div>
            </div>
        </div> -->

        <!-- // autres  -->
        <div class="cadre_table_container">
            <div class="cadre_table">
                <app-chart-table-accueil></app-chart-table-accueil>
            </div>
            <!-- //  -->
            <div class="commande_direct">
                <app-commande-table></app-commande-table>
            </div>
        </div>
    </div>

</div>

